*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Faz o body ocupar toda a altura da tela */

}

#quadrado {
    width: 200px;
    height: 200px; 
    background-color: blue;
    transition: background-color 0.3s ease;  /* Efeito suave */
}

.ativo {
    background-color: red !important;  /* O !important tem a maior prioridade possível no CSS */
}

/*
O navegador ignora qualquer outro estilo e força a cor vermelha sempre que a classe .ativo for aplicada.
*/
